[MAIN]
jobs = 0
py-version = 3.12
extension-pkg-allow-list = PIL,PyQt5
ignored-modules = PyQt5,PyQt5.QtGui,PyQt5.QtWidgets,PyQt5.QtCore
ignore = build,dist
init-hook = import sys; sys.path.insert(0, "src")

[FORMAT]
max-line-length = 100

[MESSAGES CONTROL]
disable =
    C0114,
    C0115,
    C0116,
    C0415,
    C0103,
    C0301,
    C0303,
    C0302,
    C0327,
    R0902,
    R0903,
    R0913,
    R0914,
    R0915,
    W0613,
    W0611,
    W0718,
    E1101,
    W0511

[REPORTS]
score = no
